<h2>Archive</h2>
<ul>
{% assign currentYear = "" %}
{% assign currentMonth = "" %}
{% for post in site.posts %}
  {% assign postYear = post.date | date: "%Y" %}
  {% assign postMonth = post.date | date: "%B" %}

  {% if postYear != currentYear %}
    {% if currentYear != "" %}</ul></li>{% endif %}
    <li><strong>{{ postYear }}</strong>
      <ul>
    {% assign currentYear = postYear %}
    {% assign currentMonth = "" %}
  {% endif %}

  {% if postMonth != currentMonth %}
    {% if currentMonth != "" %}</ul></li>{% endif %}
    <li>{{ postMonth }}
      <ul>
    {% assign currentMonth = postMonth %}
  {% endif %}

  <li>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </li>

  {% if forloop.last %}
      </ul></li></ul></li>
  {% endif %}
{% endfor %}
</ul>
